@font-face {
    font-family:eurofurence;
    src: url('font/eurof55-webfont.woff2') format('woff2'),
         url('font/eurof55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}